<div class="card shadow-xl ml-1">
  <div class="card-body">
    <div class="flex justify-center lg:justify-start">
      <div class="dropdown animate-pulse">
        <div class="w-28 bg-slate-200 h-10 rounded"></div>
      </div>
    </div>
    <div class="chart-container w-full flex justify-center animate-pulse">
      <svg class="stroke-slate-200" xmlns="http://www.w3.org/2000/svg" width="50%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 7.8l-7.7 7.7-4-4-5.7 5.7"/><path d="M15 7h6v6"/></svg>
    </div>
    <div class="flex justify-end items-center animate-pulse">
      <div class="w-32 bg-slate-200 h-5 rounded-full"></div>
    </div>
  </div>
</div>
