<div class="flex m-3 justify-center items-center transition ease-in-out delay-150">
  <div class="card w-80 bg-base-200">
    <div class="card-body p-2">
      <div class="flex items-center justify-between">
        <div class="items-center w-3/4 animate-pulse m-1">
          <div class="font-bold rounded-full text-margin-zero bg-neutral-200 h-3"></div>
        </div>
        <div class="btn btn-ghost m-1 cursor-default hover:bg-inherit">
          <span class="loading loading-spinner"></span>
        </div>
      </div>
    </div>
  </div>
</div>
