<div class="navbar bg-base-100" *transloco="let t; read 'navbar'">
  <div class="flex-1">
    <a href="" class="btn btn-ghost normal-case text-xl">{{t('logo')}}</a>
  </div>

  <button class="btn btn-outline m-1" (click)="onChangeLanguage()">{{t('lan')}}</button>

  <mat-form-field class="w-56">
    <input type="text" class="" (keyup)="onSearchKeyUp(searchKey.value)" [formControl]="searchFormControl" matInput [matAutocomplete]="autoSearch" [value]="searchKeyword" [placeholder]="t('search')" #searchKey>
  </mat-form-field>
  <mat-autocomplete #autoSearch class="">
    <mat-option *ngFor="let item of searchTickerObservable | async" [value]="item.symbol" (click)="navigateToTicker(item.symbol)" (keyup.enter)="navigateToTicker(item.symbol)">
      {{item.symbol}} | {{item.name}}
    </mat-option>
  </mat-autocomplete>
</div>
