<div class="card bg-base-200 shadow shadow-neutral-content my-1 lg:mx-1" *transloco="let t; read:'ticker'">
  <div class="card-body">
    <h2 class="card-title">{{t('summary')}}</h2>
    <div class="flex items-center">
      <p class="font-bold">{{t('price')}}</p>
      <div class="w-14 h-3 bg-slate-200 rounded-full animate-pulse"></div>
    </div>
    <div class="flex items-center">
    <p class="font-bold">{{t('high')}}</p>
    <div class="w-14 h-3 bg-slate-200 rounded-full animate-pulse"></div>
  </div>
    <div class="flex items-center">
    <p class="font-bold">{{t('low')}}</p>
    <div class="w-14 h-3 bg-slate-200 rounded-full animate-pulse"></div>
  </div>
  </div>
</div>
