<div *transloco="let t; read:'ticker'">
  <div class="flex flex-col items-center fixed bottom-1 w-full opacity-80">
    <div *ngIf="isSavedAlertShowed" class="alert alert-success  w-fit">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>{{t('alert save', {tickerSymbol: tickerSymbol})}}</span>
    </div>
    <div *ngIf="isRemovedAlertShowed" class="alert alert-success  w-fit">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>{{t('alert remove', {tickerSymbol: tickerSymbol})}}</span>
    </div>
  </div>
</div>
