<div class="main-body justify-center">
  <div class="catch-phrase flex text-3xl m-10">
    <p class="cursor-default">
      <span class="font-bold m-1">The</span>
      <span class="text-7xl font-extrabold m-1">Pulse</span>
      <span class="font-bold m-1 ">of the market</span>
    </p>
  </div>
  <h2 class="font-bold text-xl text-center">Favorites</h2>
  <div class="flex flex-wrap justify-center">
    <app-ticker-tile *ngFor="let item of savedTickers" [tickerSymbol]="item.symbol" [tickerPrice]="item.price"></app-ticker-tile>
    <app-ticker-tile [tickerPrice]="19099" tickerSymbol="THBT"></app-ticker-tile>
    <app-ticker-tile [tickerPrice]="884" tickerSymbol="MJD"></app-ticker-tile>
  </div>
</div>
