<div class="main-body justify-center" *transloco="let t; read:'main'">
  <div class="catch-phrase flex text-3xl m-10" *transloco="let t1; read:'main.hero'">
    <p class="cursor-default">
      <span class="font-bold m-1">{{t1('span1')}}</span>
      <span class="text-7xl font-extrabold m-1">{{t1('bold')}}</span>
      <span class="font-bold m-1 ">{{t1('span2')}}</span>
    </p>
  </div>
  <p class="font-bold text-xl text-center">{{t('fav')}}</p>
  <div class="flex flex-wrap justify-center">
   <div *ngIf="isLoadingTiles">
     <app-loading-ticker-tile></app-loading-ticker-tile>
     <app-loading-ticker-tile></app-loading-ticker-tile>
     <app-loading-ticker-tile></app-loading-ticker-tile>
   </div>
    <div *ngIf="!isLoadingTiles">
      <app-ticker-tile *ngFor="let item of savedTickers" [tickerSymbol]="item.symbol" [tickerPrice]="item.price"></app-ticker-tile>
    </div>
<!--    <app-ticker-tile [tickerPrice]="19099" tickerSymbol="THBT"></app-ticker-tile>-->
<!--    <app-ticker-tile [tickerPrice]="884" tickerSymbol="MJD"></app-ticker-tile>-->
  </div>
</div>
