<div class="flex m-3 justify-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
  <a [routerLink]="['/tickers', tickerSymbol]" class="card w-96 bg-base-100 shadow-xl hover:bg-neutral-content">
    <div class="card-body">
      <div class="card-body-1 items-center">
        <p class="font-bold text-margin-zero">{{tickerSymbol}}</p>
        <div class="flex">
          <p class="font-bold text-margin-zero">{{tickerPrice | currency}}</p>
        </div>
      </div>
    </div>
  </a>
</div>
