<div class="flex m-3 justify-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
  <a [routerLink]="['/tickers', tickerSymbol]" class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body" *transloco="let t; read 'main'">
      <div class="card-body-1 items-center">
        <p class="font-bold text-margin-zero">{{tickerSymbol}}</p>
        <div class="flex">
          <p class="text-sm" *ngIf="isNaN(tickerPrice); else priceTag">{{t('no-tkr-price')}}</p>
          <ng-template class="font-bold text-margin-zero" #priceTag>{{tickerPrice | currency}}</ng-template>
        </div>
      </div>
    </div>
  </a>
</div>
