<div class="flex flex-col items-center m-3 justify-center">
  <div class="card w-80 sm:w-80 bg-base-200">
    <div class="card-body p-2" *transloco="let t; read 'main'">
      <div class="card-body-1 items-center">
        <div class="flex w-80">
          <a [routerLink]="['/tickers', tickerSymbol]" class="w-4/5">
            <div class="flex justify-between m-1 btn btn-ghost normal-case">
              <p class="font-bold text-margin-zero">{{tickerSymbol}}</p>
              <div class="flex items-center">

                <div class="dropdown dropdown-hover"  *ngIf="isNaN(tickerPrice); else priceTag">
                  <label tabindex="0" class="text-neutral">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                  </label>
                  <div tabindex="0" class="card compact dropdown-content z-[1] shadow bg-base-100 rounded-box w-64">
                    <div class="card-body">
                      <p>{{t('no-tkr-price')}}</p>
                    </div>
                  </div>
                </div>

                <ng-template class="font-bold text-margin-zero" #priceTag>{{tickerPrice | currency}}</ng-template>
              </div>
            </div>
          </a>
          <div class="btn m-1 btn-ghost" (click)="onRemoveTickerClick()">
            <svg class="text-error" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
