<div class="flex items-center">
  <h1 class="text-3xl mr-2 font-bold">{{tickerSymbol}}</h1>
  <button class="btn btn-sm" (click)="onTickerSave()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" [attr.fill]="saveFill" viewBox="0 0 24 24" [attr.stroke]="saveStroke"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
    {{saveStatement}}
  </button>

</div>
<div class="flex flex-wrap justify-center">
  <div class="card w-60 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Ticker Summary</h2>
      <div class="flex">
        <p class="font-bold">Price</p>
        <p>{{tickerPrice | currency}}</p>
      </div>
      <div class="flex">
        <p class="font-bold">High</p>
        <p>{{tickerHigh | currency}}</p>
      </div>
      <div class="flex">
        <p class="font-bold">Low</p>
        <p>{{tickerLow | currency}}</p>
      </div>
    </div>
  </div>
  <div class="w-3/4">
    <app-ticker-performance-card (dataEvent)="onTickerTypeReceived($event)" [chartOptions]="chartOptions"></app-ticker-performance-card>
  </div>

  <div class="w-3/4">
    <div class="card shadow-xl ml-1">
      <div class="card-body">
        <div class="flex justify-center lg:justify-start">
          <div class="dropdown dropdown-hover">
            <label tabindex="0" class="btn m-1">{{currentChartType}}</label>
            <ul tabindex="0"  class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li #typeLi *ngFor="let type of chartTypes" (click)="onClick(typeLi.innerText)"><a>{{type}}</a></li>
            </ul>
          </div>
        </div>
          <div class="chart-container h-fit">
            <canvas id="performanceGraph"> {{chart}}</canvas>
          </div>
      </div>
    </div>

  </div>

</div>
<div class="flex flex-col items-center fixed bottom-1 w-full opacity-80">
  <div *ngIf="isSavedAlertShowed" class="alert alert-success  w-fit">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>{{tickerSymbol}} has been saved to favorites successfully!</span>
  </div>
  <div *ngIf="isRemovedAlertShowed" class="alert alert-success  w-fit">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>{{tickerSymbol}} has been removed from favorites successfully!</span>
  </div>
</div>
<br>
<br>
<br>


