<div class="flex items-center">
  <h1 class="text-3xl mr-2 font-bold">{{tickerSymbol}}</h1>
  <button class="btn btn-sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
    Save
  </button>

</div>
<div class="flex flex-wrap justify-center">
  <div class="card w-60 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Ticker Summary</h2>
      <div class="flex">
        <p class="font-bold">Price</p>
        <p>{{tickerPrice | currency}}</p>
      </div>
      <div class="flex">
        <p class="font-bold">High</p>
        <p>{{tickerHigh | currency}}</p>
      </div>
      <div class="flex">
        <p class="font-bold">Low</p>
        <p>{{tickerLow | currency}}</p>
      </div>
    </div>
  </div>
  <div class="w-3/4">
    <app-ticker-performance-card (dataEvent)="onTickerTypeReceived($event)" [chartOptions]="chartOptions"></app-ticker-performance-card>
  </div>

</div>
